/***     07. Why Choose Us css    ***/
/************************************/

.why-choose-us{
	padding: 100px 0;
}

.why-choose-nav{
	margin-bottom: 30px;
}

.why-choose-nav ul{
	list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
	border-bottom: 2px solid var(--divider-color);
}

.why-choose-nav ul li{
    display: inline-block;
	width: 33.33%;
}

.why-choose-nav ul li .nav-link{
	position: relative;
	width: 100%;
    background: transparent;
	border: none;
    color: var(--primary-color);
	font-size: 20px;
    font-weight: 600;
    line-height: 1.4em;
	padding: 0 5px 20px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

.why-choose-nav ul li .nav-link.active,
.why-choose-nav ul li .nav-link:hover{
    background: transparent;
    color: var(--accent-color);
}

.why-choose-nav ul li .nav-link::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: auto;
    right: 0;
    background: var(--accent-color);
	border-radius: 99px;
    width: 0;
    height: 2px;
    transition: all 0.4s ease-in-out;
}

.why-choose-nav ul li .nav-link.active:before,
.why-choose-nav ul li .nav-link:hover:before{
	width: 100%;
    left: 0;
    right: auto;
}

.why-choose-tab-content p{
	margin-bottom: 30px;
}

.why-choose-info-item{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	border-bottom: 1px solid var(--divider-color);
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.why-choose-info-item:last-child{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.why-choose-info-item .icon-box{
	position: relative;
    background: var(--accent-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

.why-choose-info-item .icon-box::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	background: var(--primary-color);
	border-radius: 50%;
	z-index: 0;
	transition: all 0.4s ease-in-out;
}

.why-choose-info-item:hover .icon-box::before{
	transform: scale(1);
}

.why-choose-info-item .icon-box img{
	position: relative;
	width: 100%;
	max-width: 24px;
	transition: all 0.4s ease-in-out;
}

.why-choose-info-item:hover .icon-box img{
	filter: brightness(0) invert(1);
}

.why-choose-info-item-content{
	width: calc(100% - 65px);
}

.why-choose-info-item-content h3{
	font-size: 20px;
}

.why-choose-info-item-content p{
	margin: 10px 0 0;
}

.why-choose-image-box{
	display: flex;
	flex-wrap: wrap;
	align-items: end;
	gap: 20px;
	margin-left: 15px;
}

.why-choose-image-box-1{
	width: calc(48% - 10px);
}

.why-choose-image figure{
	display: block;
	border-radius: 20px;
}

.why-choose-image img{
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.why-choose-image-box-1 .why-choose-image figure img{
	aspect-ratio: 1 / 1.6;
}

.why-choose-image-box-2{
	width: calc(52% - 10px);
}

.why-choose-image-box-2 .why-choose-image figure img{
	aspect-ratio: 1 / 1.234	;
}

.why-choose-info-box{
	position: relative;
	background-color: var(--accent-color);
	border-radius: 12px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
	padding: 20px;
	overflow: hidden;
	margin-bottom: 20px;
	z-index: 1;
}

.why-choose-info-box:after{
	content: '';
    position: absolute;
    right: 0;
    bottom: 0;
	left: 0;
	width: 100%;
    height: 0;
    background: var(--primary-color);
	border-radius: 12px;
    z-index: 0;
    transition: all 0.4s ease-in-out;
}

.why-choose-info-box:hover:after{
	height: 100%;
}

.why-choose-info-box .icon-box{
	position: relative;
    background: var(--primary-color);
    border-radius: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

.why-choose-info-box .icon-box::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: var(--accent-color);
	width: 100%;
	height: 100%;
	transform: rotate(180deg) scale(0);
	transition: all 0.4s ease-in-out;
	z-index: 0;
}

.why-choose-info-box:hover .icon-box::before{
    border-radius: 0;
	transform: rotate(0) scale(1);
}

.why-choose-info-box .icon-box img{
	position: relative;
	width: 100%;
	max-width: 30px;
	transition: all 0.4s ease-in-out;
}

.why-choose-info-box:hover .icon-box img{
	filter: brightness(0) invert(0);
}

.why-choose-info-content{
	position: relative;
	width: calc(100% - 75px);
	z-index: 1;
}

.why-choose-info-content h3{
	font-size: 20px;
	transition: all 0.4s ease-in-out;
}

.why-choose-info-box:hover .why-choose-info-content h3{
	color: var(--accent-color);
}

.why-choose-image-box-2 .contact-us-circle{
	position: relative;
	text-align: center;
	margin-top: -50px;
	z-index: 2;
}

.why-choose-image-box-2 .contact-us-circle a{
	border: 6px solid var(--white-color);
}

.why-choose-us .section-footer-text{
	margin-top: 60px;
}

/************************************/

